<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{books_page.title} - library|"></title>
<style>
 .flashMsg {
 	color: skyblue;
 }
</style>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
</head>
<body>
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>
<h2 class="heading">書籍一覧</h2>

<th:block th:if="${flashMsg != null && !flashMsg.equals('') }">
	<p class="flashMsg"  th:text="${flashMsg}"></p>
</th:block>


<div>
<th:block th:if="${books.size() > 0}" >
	<table>
		<tr>
			<th>ID</th><th>ISBN</th><th>タイトル</th><th>著者</th><th colspan="3"></th>
		</tr>
		
		<tr th:each="book : ${books}" >
			
			<td>
				<a th:href="@{/book_show/{id}(id=${book.id})}" th:text="${book.id}"></a>
				
			</td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.authors}"></td>
			<td>
			 <!--  ? 以降の クエリー文字列  ?action=edit&id=1   などと表示される -->
				<a th:href="@{/book_form(action=edit, id=${book.id})}"><button class="editbtn" type="button" >編集</button></a>
			</td>
			<td>
				<a th:href="@{/book_delete_confirm(id=${book.id})}"><button class="deletebtn" type="button" >削除</button></a>
			</td>
		</tr>
	</table>
	
</th:block>
</div>
<div>
	<a href="/book_form?action=add" th:href="@{/book_form(action=add)}"><button type="button" >書籍 新規登録画面</button></a>
</div>

<div>
	<a href="/book_search_form" th:href="@{/book_search_form}"><button type="button"  >書籍 検索画面</button></a>
</div>

<div>
	<a href="/" th:href="@{/}"><button type="button" th:text="トップページ" ></button></a>
</div>

<!-- 以降がページネーション部分 -->
<div>
  <ul>
    <li style="display:inline;">
      <span th:if="${page.first}">&lt;&lt;前</span>
      <a
        th:if="${!page.first}"
        th:href="@{/books(page = ${page.number} - 1)}"
      >
        &lt;&lt;前
      </a>
    </li>
    <li
      th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
      style="display:inline; margin-left:10px;"
    >
      <span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
      <a
        th:if="${i} != ${page.number}"
        th:href="@{/books(page = ${i})}"
      >
        <span th:text="${i+1}">1</span>
      </a>
    </li>
    <li style="display:inline; margin-left:10px;">
      <span th:if="${page.last}">次&gt;&gt;</span>
      <a
        th:if="${!page.last}"
        th:href="@{/books(page = (${page.number} + 1))}"
      >
        次&gt;&gt;
      </a>
    </li>
  </ul>
</div>

<!-- Font Awesomeのための -->
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
</body>
</html>