<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{book_show_page.title} - library|"></title>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
<style>

</style>
</head>
<body>
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>

<h2 class="heading" th:inline="text">書籍の詳細ページ</h2>
<div>
	<table th:each="element : ${statusMap}" >
			<tr><th>ID</th><td th:text="${element.key.id}"></td></tr>
			<tr><th>ISBN</th><td th:text="${element.key.isbn}"></td></tr>
			<tr><th>ジャンル</th><td th:text="${element.key.genre}"></td></tr>
			<tr><th>タイトル</th><td th:text="${element.key.title}"></td></tr>
			<tr><th>著者</th><td th:text="${element.key.authors}"></td></tr>
			<tr><th>出版社</th><td th:text="${element.key.publisher}"></td></tr>
			<tr><th>発行年</th><td th:text="${element.key.publishYear}"></td></tr>
			<tr><th>状態</th><td th:text="${element.value}"></td></tr>
			
	</table>
</div>
<th:block th:if="${map}" >
		<!-- 先ほど検索した検索結果も  表示  -->
		検索結果のリスト
		<div>
			 <th:block th:if="${map != null && map.size() > 0}">
				 <table>
					<tr><th>ID</th><th>ISBN</th><th>タイトル</th><th>著者名</th><th>出版社</th><th>書架状態</th><th></th></tr>
					
					<tr th:each="element : ${map}" >	
						
						<td align="center" >
							<a  th:href="@{/book_show_list(id=${element.key.id})}" th:text="${element.key.id}"></a>
							 
						</td>				
						<td align="center" th:text="${element.key.isbn}"></td>　
						<td align="left" th:text="${element.key.title}"></td>
						<td align="left" th:text="${element.key.authors}"></td>
						<td align="left" th:text="${element.key.publisher}"></td>
						<!-- 書架状態 表示後で変更 -->
						<td align="center" th:text="${element.value}"></td>
						<td>
							 <a  th:href="@{/book_show_list(id=${element.key.id})}"><button type="button">詳細</button></a>
						</td>
						
					</tr> 
				</table>
			</th:block>
		</div>

</th:block>
<div>
	<a href="/books" th:href="@{/books}"><button type="button" >書籍 一覧画面</button></a>
</div>

<div>
	<a href="/book_search_form" th:href="@{/book_search_form}"><button type="button"  >書籍 検索画面</button></a>
</div>

<div>
	<a href="/" th:href="@{/}"><button type="button" th:text="トップページ" ></button></a>
</div>
</body>
</html>