<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{member_confirm_page.title} - library|"></title>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
<style>
 td {
  padding: 10px 20px;
 }
 
</style>
</head>
<body>
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>

<h2 class="headingMember" >この会員を削除してよろしいですか？</h2>
<!-- リダイレクト後のメッセージ 削除失敗の時に equals('')  シングルクオーテーションにしてください -->
<th:block th:if="${flashMsg != null && !flashMsg.equals('') }">
	<p class="flashMsg"  th:text="${flashMsg}"></p>
</th:block>
<!-- 内容は 表示するだけなので テーブルタグでいい -->
<div>
	<table th:object="${memberForm}">
			<tr><th>ID</th><td th:text="*{id}"></td></tr>
			<tr><th>名前</th><td th:text="*{name}"></td></tr>
			<tr><th>生年月日</th><td th:text="${memberForm.birthdayPrint()}"></td></tr>
			<tr><th>電話</th><td th:text="*{tel}"></td></tr>
			<tr><th>住所</th><td th:text="*{address}"></td></tr>
			<tr>
				<th></th>
				<td style="margin-top: 20px;">
					<!-- 削除に必要なのは idだけなので idだけフォームで送ればいい -->
				
					<form th:action="@{/member_delete}" method="post" th:object="${memberForm}" onsubmit="return beforeSubmit()">
						<input type="hidden" name="id" th:value="*{id}" />
						<input class="deletebtn" type="submit" value="削除する" />
					</form>
					
				</td>
			</tr>
	</table>
</div>
<div style="margin-top: 25px;">
	<a href="/members" th:href="@{/members}"><button type="button" >会員 一覧画面</button></a>
</div>

<script>
function beforeSubmit() {
    if(window.confirm('本当に削除しますか？')) {
      return true;
    } else {
      return false;
    }
  }
</script>
</body>
</html>