<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{member_form_page.title} - library|"></title>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>
<!-- 三項演算子のネストの書き方
<div th:text="${prod.Num=='12'} ? '準備中' : ${prod.Num=='13' && prod.sis=='春'} ? '出力' : '123'"></div> 
-->

<h2 class="headingMember" th:text="${action == 'add'} ?  '会員 新規登録画面' : ${action == 'edit' ? '会員 編集画面' : 'フォーム画面'}"></h2>

<p class="msg" th:if="${msg}" th:text="${msg}"></p>
<div>
	<form th:action="@{/member_add_edit}" method="post" th:object="${memberForm}" onsubmit="return beforeSubmit()" >
	
		<input type="hidden" name="action" th:value="${action}" />
		<!-- hidden で送る idは 新規の時には int型のデフォルト値(規定値) の 0 です 
		編集の時には idが入ってるので使用できる  フォームのオブジェクトには関係なく 独立してパラメータで送る ${id} にする *{id} ではない-->
		<input type="hidden" name="id" th:value="*{id}" />
		<p th:if="*{id != null && id != 0}" th:text="|会員登録ID: *{id}|" ></p>
		<!-- <p th:if="${memberForm.id != 0}" th:text="|会員ID: *{id}|" ></p> -->
		
		<div>
			<label for="name">名前: </label> 
			<input type="text" id="name" name="name" th:value="*{name}" th:errorclass="err" />		
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err">
			</div>				
		</div>
		
		<div>誕生日: 
	        <select  name="year" class="js-changeYear" th:errorclass="err" >        	
		            <option th:each="i : ${#numbers.sequence(#dates.format(new java.util.Date(), 'yyyy'), 1920)}"
		                th:value="${i}" th:text="${i}" th:selected="${i == memberForm.year}">
		            </option>        
	        </select> 年
	
	        <select name="month" class="js-changeMonth" th:errorclass="err" >
	            <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}"
	                th:text="${i}" th:selected="${i == memberForm.month}">
	            </option>
	        </select> 月
	
	        <select name="day" class="js-changeDay" th:errorclass="err">
	            <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}"
	                th:text="${i}" th:selected="${i == memberForm.day}">
	            </option>
	        </select> 日
	    </div>
		
		<div>
			<label for="tel">電話: </label>
			<input type="text" id="tel" name="tel" th:value="*{tel}" th:errorclass="err" />		
			<div th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" th:errorclass="err">
			</div>				
		</div>
		
		<div>
			<label for="address">住所: </label>
			<input type="text" id="address" name="address" th:value="*{address}" th:errorclass="err" />		
			<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:errorclass="err">
			</div>				
		</div>
			
		<th:block th:if="${action.equals('add') || action.equals('edit')}"  >
			<div>
				<input type="submit" value="送信" />
				<input type="reset" value="キャンセル">
			</div>
		</th:block>
	</form>
</div>

<div style="margin-top: 25px;">
	<a href="/members" th:href="@{/members}"><button type="button" >会員 一覧画面</button></a>
</div>

<div>
	<a href="/" th:href="@{/}"><button type="button" th:text="トップページ" ></button></a>
</div>
<!-- Font Awesomeのための -->
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>

<script>
(function($){
    function formSetDay(){
      var lastday = formSetLastDay($('.js-changeYear').val(), $('.js-changeMonth').val());
      var option = '';
      for (var i = 1; i <= lastday; i++) {
        if (i === $('.js-changeDay').val()){
          option += '<option value="' + i + '" selected="selected">' + i + '</option>\n';
        }else{
          option += '<option value="' + i + '">' + i + '</option>\n';
        }
      }
      $('.js-changeDay').html(option);
    }

    function formSetLastDay(year, month){
      var lastday = new Array('', 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
      if ((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0){
        lastday[2] = 29;
      }
      return lastday[month];
    }

    $('.js-changeYear, .js-changeMonth').change(function(){
      formSetDay();
    });
  })(jQuery);
</script> 

<script>
function beforeSubmit() {
    if(window.confirm('この内容でよろしいですか？')) {
      return true;
    } else {
      return false;
    }
  }
</script>
</body>
</html>