<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{members_page.title} - library|"></title>
<style>

</style>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
</head>
<body>
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>

<h2 class="heading">会員一覧</h2>

<!-- リダイレクト後のメッセージ -->
<th:block th:if="${flashMsg != null && !flashMsg.equals('') }">
	<p class="flashMsg"  th:text="${flashMsg}"></p>
</th:block>

<div>
<th:block th:if="${members.size() > 0}" >
	<table>
		<tr>
			<th>ID</th><th>名前</th><th colspan="1"></th>
		</tr>
		
		<tr th:each="member : ${members}" >
			<td th:text="${member.id}"></td>
			<td th:text="${member.name}"></td>
			
			<td>
			 <!--  ? 以降の クエリー文字列  ?id=1   などと表示される -->
				<a th:href="@{/member_show( id=${member.id}) }"><button type="button" >会員 詳細画面</button></a>
			</td>		
		</tr>
	</table>	
</th:block>
</div>
<div>
	<a href="/member_form?action=add" th:href="@{/member_form(action=add)}"><button type="button" >会員 新規登録画面</button></a>
</div>

<div>
	<a href="/member_search_form" th:href="@{/member_search_form}"><button type="button"  >会員 検索画面</button></a>
</div>

<div>
	<a href="/" th:href="@{/}"><button type="button" th:text="トップページ" ></button></a>
</div>

<!-- 以降がページネーション部分 -->
<div>
  <ul>
    <li style="display:inline;">
      <span th:if="${page.first}">&lt;&lt;前</span>
      <a
        th:if="${!page.first}"
        th:href="@{/books(page = ${page.number} - 1)}"
      >
        &lt;&lt;前
      </a>
    </li>
    <li
      th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
      style="display:inline; margin-left:10px;"
    >
      <span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
      <a
        th:if="${i} != ${page.number}"
        th:href="@{/books(page = ${i})}"
      >
        <span th:text="${i+1}">1</span>
      </a>
    </li>
    <li style="display:inline; margin-left:10px;">
      <span th:if="${page.last}">次&gt;&gt;</span>
      <a
        th:if="${!page.last}"
        th:href="@{/books(page = (${page.number} + 1))}"
      >
        次&gt;&gt;
      </a>
    </li>
  </ul>
</div>


</body>
</html>