<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{member_search_page.title} - library|"></title>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
</head>
<body> 
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>

	 <div class="contents">
		<h2 class="heading">会員検索ページ</h2>
		<h4>条件を指定して会員情報を検索します</h4>
		<div>
			<form th:action="@{/member_search}" method="post" th:object="${memberSearchForm}">
				<table>
			 		<tr><td style="width:13ch;" ><label for="departmentId">所属: </label></td>
			 			<td ><select id="departmentId" name="departmentId"  size="4" style="width:150px;">
					 		    <option value="" th:text="選択しない"></option>
					        	<option th:each="element : ${depMap}" th:value="${element.key}"  th:inline="text">[[${element.value}]]</option>
					    	</select>
				    	</td>
			    	</tr>
					<tr><td><label for="employeeId">社員ID: </label></td>
						<td><input type="text" id="employeeId" name="employeeId" th:value="${employeeId}"  /></td>
					</tr>			
					<tr><td><label for="word">名前に含む文字: </label></td> 
						<td><input type="text" id="word" name="word" th:value="${word}"  /></td>
					</tr>
					<tr><td></td><td><input type="submit" value="検索" /></td></tr>
				</table>	
				<input type="hidden" name="action" value="${action}" />
			</form>
		</div>	
	
		<div>
			<a href="/" th:href="@{/}"><button type="button" th:text="トップページ" ></button></a>
		</div>
		
	 </div>
</body>
</html>