<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{member_search_page.title} - library|"></title>
</head>
<body> 
	<header>
		 <p class="header_right" th:text="'ユーザーID: ' + ${#authentication.principal.id} + '  ユーザ名: '+ ${#authentication.principal.username} + 'さん'"></p>
	     <p class="header_right"  th:text="'現在時刻: ' + ${#dates.format(new java.util.Date(), 'yyyy/MM/dd HH:mm')} "></p>   
    	<div class="header_right">
			<a  href="/user" th:href="@{/user}"><button type="button" >ユーザー情報 画面へ</button></a>			
			<form style="display:inline-block" th:action="@{/logout}" method="post">
		        <input type="submit" value="ログアウト" />
		    </form>			
		</div>
		
    	<hr />
	</header>
	 <div class="contents">
		<h2 class="heading">会員検索ページ</h2>
		<h4>条件を指定して会員情報を検索します</h4>
	
		<div>
			<a href="/" th:href="@{/}"><button type="button" th:text="トップページへ戻る" ></button></a>
		</div>
		
		<div>
			<form th:action="@{/logout}" method="post">
		        <input type="submit" value="ログアウト" />
		    </form>	
		</div>
	
		<!-- この機能を使用するには、thymeleaf-extras-springsecurity5 が必要となりますが、基本的にはプロジェクトの作成時に
		Maven プロジェクト（pom.xml ファイル）に追加されている 
		現在やり取りをしている プリンシパル（認証主体：principal）を取得することで ${#authentication.principal.username}
		${#authentication.principal.password}
		${#authentication.principal.authorities} で取得もできる
		-->
		<!-- <div th:text="'こんにちは ' + ${#authentication.name} + ' さん'"></div> -->
		
	<!-- 	<div th:text="| Hello!! ${#authentication.principal.username} さん|"></div>
		<div th:text="| password: ${#authentication.principal.password} です|"></div>
		<div th:text="| 権限情報: ${#authentication.principal.authorities} |"></div>
		 -->
	 </div>
</body>
</html>