<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{member_search_page.title} - library|"></title>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
</head>
<body> 
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>

	 <div class="contents">
		<h2 class="heading">会員検索ページ</h2>
		<h4>条件を指定して会員情報を検索します</h4>
	
		<div>
			<a href="/" th:href="@{/}"><button type="button" th:text="トップページへ戻る" ></button></a>
		</div>
		
		<!-- <div>
			<form th:action="@{/logout}" method="post">
		        <input type="submit" value="ログアウト" />
		    </form>	
		</div> -->
	
	
	 </div>
</body>
</html>