<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{member_show_page.title} - library|"></title>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
<style>
 td {
  padding: 10px 20px;
 }

</style>
</head>
<body>
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>

 <h2 class="heading" th:inline="text">[[${member.name}]]さんの詳細ページ</h2>

<table th:object="${member}">
		<tr><th>ID</th><td th:text="*{id}"></td></tr>
		<tr><th>名前</th><td th:text="*{name}"></td></tr>
		<tr><th>生年月日</th><td th:text="${member.printBirthDay()}"></td></tr>
		<tr><th>電話</th><td th:text="*{tel}"></td></tr>
		<tr><th>住所</th><td th:text="*{address}"></td></tr>
		<tr>
			<th></th>
			<td>
			    <!-- 編集画面を表示する -->
				<a style="margin-right: 20px" th:href="@{/member_form(action=edit, id=${member.id})}"><button class="editbtn" type="button" >会員編集</button></a>
				<!-- 削除の時にも 一旦確認のため 内容表示の画面を表示する -->
				<a th:href="@{/member_delete_confirm(id=${member.id})}"><button class="deletebtn" type="button" >会員削除</button></a>
			</td>
		</tr>
	
</table>

</body>
</html>