@charset "utf-8";

body {
font-size: 17px; color: gray; margin: 10px 30px;}
.headingToptitle {
	font-size: 2.3em;
	font-weight:bold;
    color: #3d3dff;
    margin-bottom: 50px;
}
.headingBook {
	color: #3d3dff;
}
.headingMember {
	color: saddlebrown;
}
.headingDanger {
	color: red;
}
.headingLenging {
	color: green;
}
.headingReturn {
	color: lightsalmon;
}
.headingUser {
	color: plum;
}
.headingOnLoan {
	/* color: #a4d5bd; */
	/* #79c06e */
	color: #79c06e;
}


#a4d5bd
pre {
font-size: 17px; color:gray; padding:5px 10px; border:1px solid gray;
}
tr {
margin: 5px;
}
th {
padding: 5px 7px; color:white; background:darkgray;
}
td {
padding: 5px 7px; color:black; background:#f0f0f0;
}
div { margin-bottom: 13px; }
.err { color: red; }
.editbtn {
 	background-color: white;
 	color: darkgreen;
 	font-size: bold;
 	border-radius: 7px;
 	padding: 3px 4px;
 	font-size: 15px;
 	border: 1px solid #333;
 }
 .deletebtn {
 	background-color: red;
 	color: white;
 	font-size: bold;
 	border-radius: 7px;
 	padding: 3px 4px;
 	font-size: 15px;
 	border: 1px solid #333;
 }
 .showbtn {
 	background-color: #ffffcc;
 	color: #564539;
 	font-size: bold;
 	border-radius: 7px;
 	padding: 3px 4px;
 	font-size: 15px;
 	border: 1px solid #543f32;
 }
 .lendingbtn {
 	background-color: olive;
 	color: white;
 	font-size: bold;
 	border-radius: 7px;
 	padding: 3px 4px;
 	font-size: 15px;
 	border: 1px solid #543f32;
 }
 .msg {
 	color: #FF69B4;
 }
 .flashMsg {
 	border: 1px solid royalblue;
 	border-radius: 10px;
 	background-color: ghostwhite;
 	padding :3px 7px;
 	width: 400px;
 	color: skyblue;
 }
 .searchResultMsg {
 	color: darkgreen;
 }
 .bookicon {
 	color : #522886;
 	font-size: 95%;
 	margin-left: 5px;
 }
 .membersIcon {
 	color: saddlebrown;
 	font-size: 105%; 	
 }
 .memberIcon {
 	color: saddlebrown;
 	font-size: 105%; 	
 }
 .returnicon {
 	color:  lightsalmon;
	font-size: 105%;
	border:1px solid lightsalmon;
	border-radius: 50%;
	padding: 2px 3px 4px 5px;
 }
 .lendingicon {
 	color: green;
 	font-size: 105%; 
 }
 .searchHistoryIcon {
 	color: #2792c3;
 	font-size: 105%;
 }
 .onLoanIcon {
 	color: #a4d5bd;
 	font-size: 105%;
 }