<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{top_page.title} - library|"></title>
<style>
.toptitle {
     font-size: 44px;
	 margin-bottom: 50px;
}
.book_item, .member_item{
	margin-right: 40px;
}
</style>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
</head>
<body>
	<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
<div th:include="common/header :: common_header"></div>

	<!-- git resetの後に、修正した内容をpushしようとすると、以前のコミットとコンフリクトしてエラーとなり、pushできません。

そのため、「-f」オプションをつけて強制的にpushする必要があります。 -->
	
    <div class="contents">
		<h1 class="heading toptitle">図書館 Top Page</h1>
			
		<!-- この機能を使用するには、thymeleaf-extras-springsecurity5 が必要となりますが、基本的にはプロジェクトの作成時に
		Maven プロジェクト（pom.xml ファイル）に追加されている 
		現在やり取りをしている プリンシパル（認証主体：principal）を取得することで ${#authentication.principal.username}
		${#authentication.principal.password}
		${#authentication.principal.authorities} で取得もできる
		-->
		<!-- <div th:text="'こんにちは ' + ${#authentication.name} + ' さん'"></div>
		
		<div th:text="| Hello!! ${#authentication.principal.username} さん|"></div>
		<div th:text="| password: ${#authentication.principal.password} です|"></div>
		<div th:text="| 権限情報: ${#authentication.principal.authorities} |"></div> -->
		
		<div class="container"><!-- フレックスコンテナ -->
			<div class="book_item"><!-- フレックスアイテム -->
				<div>
					<a href="/books" th:href="@{/books}"><button type="button" >書籍 一覧画面</button></a>
				</div>
				
				<div>
					<!-- フォームのビューで必要なので  ? 以降のクエリー文字列action=addを つけること -->
					<a href="/book_form?action=add" th:href="@{/book_form(action=add)}"><button type="button"  >書籍 新規登録画面</button></a>
				</div>
				
				<div>
					<a href="/book_search_form" th:href="@{/book_search_form}"><button type="button"  >書籍 検索画面</button></a>
				</div>
				
				
			</div>
			
			<div class="member_item"><!-- フレックスアイテム -->
				<div>
					<a href="/members" th:href="@{/members}"><button type="button"  >会員 一覧画面</button></a>
				</div>
				
				<div>
					<a href="/member_form?action=add" th:href="@{/member_form(action=add)}"><button type="button" >会員 新規登録画面</button></a>
				</div>
				
				<div>
					<a href="/member_search_form" th:href="@{/member_search_form}"><button type="button"  >会員 検索画面</button></a>
				</div>
				
			</div>
			
			<div class="history_item"><!-- フレックスアイテム -->
			
				<div>
					<a href="/lending_form" th:href="@{/lending_form}"><button type="button"  >貸し出し画面</button></a>
				</div>
				<div>
					<a href="/return_form" th:href="@{/return_form}"><button type="button"  >返却画面</button></a>
				</div>
				<!-- 書籍の全部から履歴を検索する -->
				<div>
					<a href="/history_search" th:href="@{/history_search}"><button type="button"  >貸し出し履歴 検索画面</button></a>
				</div>			
			</div>
			
			
		</div>	
		<div>
			<form th:action="@{/logout}" method="post">
		        <input type="submit" value="ログアウト" />
		    </form>	
		</div>

    </div>
</body>
</html>