<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{onLoan_page.title} - library|"></title>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
</head>
<body> 
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
	<div th:include="common/header :: common_header"></div>
	 
	 <div class="contents">
		<h2 class="heading">[[${member.name}]] さんの貸し出し中 書籍一覧</h2>
		<h4>会員情報</h4>
		<p   th:text="|会員ID: ${member.id}|"></p>
		<p   th:text="|会員名: ${member.name}|"></p>
		<!-- CSVファイルを出力した後にも リダイレクトしてこの画面が表示されますそのメッセージflashMsg -->
		<th:block th:if="${flashMsg != null && !flashMsg.equals('') }">
			<p class="flashMsg"  th:text="${flashMsg}"></p>
		</th:block>
		
		<!-- 指定した会員の 現在貸し出し中の書籍を一覧で 表示 -->
		<p style="margin-bottom: 0;" class="searchResultMsg" th:if="${searchResultMsg}" th:text="${searchResultMsg}"></p>
		<div>
			 <th:block th:if="${list != null && list.size() > 0}">
				 <table>
					<tr><th>本のID</th><th>貸し出し日</th><th>書架状態</th></tr>
					<!-- list  は List<Object[]> になってる ループで取り出したら Object[] になってる -->
					<tr th:each="obj : ${list}" >	<!-- obj は Object[] になってる -->
						<td align="center" th:text="${obj[3]}"></td>
									
						<td align="center" th:text="${obj[1]}"></td>　
					
						<!-- 書架状態 returnDateが nullなら 貸出中-->
<!-- 三項演算子のネストの書き方
<div th:text="${prod.Num=='12'} ? '準備中' : ${prod.Num=='13' && prod.sis=='春'} ? '出力' : '123'"></div> 
-->

<!-- <h2 class="heading" th:text="${action == 'add'} ?  '書籍 新規登録画面' : ${action == 'edit' ? '書籍 編集画面' : 'フォーム画面'}"></h2>
 -->												
						<td align="center" th:text="${obj[2] == null} ?  '貸出中' : '書架' "></td>
					</tr> 
				</table>
			</th:block>
		</div>
		<div >
			<a href="/" th:href="@{/}"><button type="button" th:text="トップページ" ></button></a>
		</div>
		
	 </div>
</body>
</html>