<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<title th:text="|#{history_search_page.title} - library|"></title>
<!-- フラグメントを組み込む th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス -->
<style th:include="common/header :: common_header_style"></style>
</head>
<body> 
<!-- フラグメントの組み込み th:include の値は 読み込むファイルの.htmlを抜いたパス :: th:fragmentに指定した値 
パスは templatesからのパス-->
	<div th:include="common/header :: common_header"></div>
	 
	 <div class="contents">
		<h2 class="heading">貸出履歴 検索ページ</h2>
		<h4>条件を指定して貸出履歴を検索します</h4>
		
		<!-- 何も条件を指定しなかった場合にまた、リダイレクトしてこの画面が表示されますそのメッセージflashMsg -->
		<th:block th:if="${flashMsg != null && !flashMsg.equals('') }">
			<p class="flashMsg"  th:text="${flashMsg}"></p>
		</th:block>
		
		<!-- バリデーションエラーのメッセージ -->
		<p class="msg" th:if="${msg != null}" th:text="${msg}" ></p>
		
		<!--  曖昧検索です  AND検索で絞る  未入力でも検索できる 
		ただし、全部を未入力なら検索しないで リダイレクトをして フォーム再表示する
		検索用のBookSearchForm フォームクラスを定義してるのでそれを利用する -->
		<div>
		 	※ 検索したい本のIDを入力    書籍に図書館システムで使用する識別番号IDが貼ってあるので、そのIDを入力する(booksテーブルの主キーになってる)
	    	※ 検索したい会員のIDを入力    図書館システムに登録してある会員ID(ユーザでは無い)
			※ 検索結果の表示件数を選択    図書館システムに登録してある貸出記録の最近のものから表示
			<form th:action="@{/history_search}" method="post" th:object="${historySearchForm}">
				<table>
					<tr>
						<td style="width:10ch;">
							<label for="bookId">本のID: </label>
						</td>
						<td><input type="text" id="bookId" name="bookId" th:value="*{bookId}" th:errorclass="err"/>
							<div th:if="${#fields.hasErrors('bookId')}" th:errors="*{bookId}" th:errorclass="err"></div>
						</td>
					</tr>
					 
					<tr>
						<td style="width:10ch;">
							<label for="title">会員ID: </label>
						</td>
						<td>
							<input type="text" id="memberId" name="memberId" th:value="*{memberId}" th:errorclass="err" />
							<div th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" th:errorclass="err"></div>
						</td>
					</tr>
			 		<tr>
				 		<td style="width:10ch;" >
				 			<label for="genre">表示件数: </label>
				 		</td>
			 			<td ><select id="countDisplay" name="countDisplay"  size="4" style="width:150px;">
					 		    <option value="全て" th:text="全て"></option>
					 		    <option value="10" th:text="10件"></option>
					 		    <option value="20" th:text="20件"></option>
					 		    <option value="30" th:text="30件"></option>
					    	</select>
					    	<div th:if="${#fields.hasErrors('countDisplay')}" th:errors="*{countDisplay}" th:errorclass="err"></div>
				    	</td>
			    	</tr>
					<tr><td></td><td><input style="margin-right: 20px;" type="submit" value="検索する" /> <input type="reset" value="キャンセル"></td></tr>
				</table>	
				
			</form>
		</div>
		
	
		<!-- 検索結果表示  その書籍が現在どういう状態かまで、わかるようにする つまり、貸出中なのかどうか-->
		<p th:if="${searchResultMsg}" th:text="${searchResultMsg}"></p>
		<div>
			 <th:block th:if="${historySearchMap != null && historySearchMap.size() > 0}">
				 <table>
					<tr><th>本のID</th><th>会員のID</th><th>貸し出し日</th><th>返却日</th><th>書架状態</th><th></th></tr>
					
					<tr th:each="element : ${historySearchMap}" >	
					
						<td align="center" th:text="${element.key.bookId}"></td>				
						<td align="center" th:text="${element.key.memberId}"></td>　
						<td align="left" th:text="${element.key.lendDate}"></td>
						<td align="left" th:text="${element.key.returnDate}"></td>
						<td align="left" th:text="${element.key.publisher}"></td>
						<!-- 書架状態 表示後で変更 -->
						<td align="center" th:text="${element.value}"></td>
						<td>
							 <a  th:href="@{/book_show_list(id=${element.key.id})}"><button type="button">詳細</button></a>
						</td>
						
					</tr> 
				</table>
			</th:block>
		</div>
		<div >
			<a href="/" th:href="@{/}"><button type="button" th:text="トップページ" ></button></a>
		</div>
		
	 </div>
</body>
</html>